<%= form_for @user do |form| %>

  <div class="field">
    <%= form.label :full_address %>
    <%= form.text_area :full_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
