/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 18px;
  flex-direction: column;
  background-image: image-url('tie-dye.jpg');
  background-size: 1500px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

nav {
  padding: 100px;
  margin: 0;
  background-color: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  border-bottom: 3px solid #772128;
}

nav ul {
  margin: auto;
  width: 100%;
  padding: 7px;
  background-color: none;
}

nav li {
  display: inline;
  padding: 6px 55px 6px 55px;
}

nav li:hover {
  background-color: none;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: none;
  color: #000000;
}

nav li:active {
  text-decoration: none;
  background-color: #B6A6CA;
}

 th {
   padding-bottom: 5px;
 }

 td {
   padding: 0 5px 7px;
 }

 div {
   &.field, &.actions {
     margin-bottom: 10px;
   }
 }

 .notice {
   color: green;
 }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }

 #error_explanation {
   width: 450px;
   border: 2px solid red;
   padding: 7px 7px 0;
   margin-bottom: 20px;
   background-color: #f0f0f0;

   h2 {
     text-align: left;
     font-weight: bold;
     padding: 5px 5px 5px 15px;
     font-size: 12px;
     margin: -7px -7px 0;
     background-color: #c00;
     color: #fff;
   }

   ul li {
     font-size: 12px;
     list-style: square;
   }
 }

 label {
   display: block;
 }

 .strains {

 }
